[settings]
yes = true
[shell_alias]
# The strawmelonservices server currently is set up in a way that it is half-rootless and half rootful
# This is kind of a transition-step.
podman='sudo -u mar podman'

[tasks.all-start]
description = "Start all services"
run = [
  { task = "git-pull-ci-runner-images" },
  { tasks = ["git-start", "git-mirror-sync-start", "strawmediajuice-start", "site-start"] },
]

[tasks.all-stop]
description = "Stop all services"
run = [
  { tasks = ["git-stop", "git-mirror-sync-stop", "strawmediajuice-stop", "site-stop"] },
]

[tasks.all-restart]
description = "Stop and restart all services"
run = [
  { tasks = ["git-restart", "git-mirror-sync-restart", "strawmediajuice-restart","site-restart"] },
]

[tasks.strawmediajuice-start]
description = "Start strawmediajuice service (docker)"
run = "docker compose up -d"
dir = "strawmediajuice"

[tasks.git-pull-ci-runner-images]
description = "Pull CI runner images from dockerhub"
run = [
  "docker pull strawmelonjuice/git.strawmelonjuice.com-runners:alpine-dev",
  "docker pull strawmelonjuice/git.strawmelonjuice.com-runners:ubuntu-dev",
  "docker pull strawmelonjuice/git.strawmelonjuice.com-runners:fedora-dev"
]

[tasks.strawmediajuice-stop]
description = "Stop strawmediajuice service (docker)"
run = "docker compose down"
dir = "strawmediajuice"

[tasks.strawmediajuice-restart]
description = "Stop and restart strawmediajuice service (docker)"
run = [
{ task = "strawmediajuice-stop" },
  { task = "strawmediajuice-start" },
]

[tasks.git-mirror-sync-start]
description = "Start git mirror service (systemd/bash)"
run = "systemctl start git-mirror-sync.service"

[tasks.git-mirror-sync-stop]
description = "Stop git mirror service (systemd/bash)"
run = "systemctl stop git-mirror-sync.service"

[tasks.git-mirror-sync-restart]
description = "Stop and restart git mirror service (systemd/bash)"
run = [
{ task = "git-mirror-sync-stop" },
  { task = "git-mirror-sync-start" },
]

[tasks.git-stop]
description = "Stop forgejo and runners (docker)"
run = "docker compose down"
dir = "git"

[tasks.git-restart]
description = "Stop and restart forgejo service (docker)"
run = [
{ task = "git-stop" },
  { task = "git-start" },
]

[tasks.site-start]
description="Start strawmelonjuice site (Podman/Cynthia)"
run= [
"podman build . -t strawmelonjuice-site --network=host",
"podman run -d --rm -p 3033:8080 --name strawmelonjuice-site strawmelonjuice-site:latest"
]
dir = "strawmelonjuice-site"

[tasks.site-stop]
description="Stop strawmelonjuice site (Podman/Cynthia)"
run = ["podman stop strawmelonjuice-site","podman rmi strawmelonjuice-site:latest"]

[tasks.site-restart]
description = "Stop and restart strawmelonjuice site (Podman/Cynthia)"
run = [
{ task = "site-stop" },
  { task = "site-start" },
]
