{
	email webmaster@strawmelonjuice.com
}

# redirect icons to strawmediajuice
(icon_redirect) {
	redir /assets/site_icon.png https://strawmelonjuice.com/strawmelonjuice.png permanent
	redir /favicon.ico https://strawmelonjuice.com/strawmelonjuice.png permanent
	redir /favicon.png https://strawmelonjuice.com/strawmelonjuice.png permanent
	redir /assets/img/favicon.svg https://strawmelonjuice.com/strawmelonjuice.png permanent
	redir /assets/img/favicon.png https://strawmelonjuice.com/strawmelonjuice.png permanent
	redir /assets/img/site_icon.svg https://strawmelonjuice.com/strawmelonjuice.png permanent
	redir /assets/img/logo.svg https://strawmelonjuice.com/strawmelonjuice.png permanent
}

knot.strawmelonjuice.com {
	reverse_proxy tangled:5555
}

music.strawmelonjuice.com {
	reverse_proxy navidrome:4533
}

forge.strawmelonjuice.com {
	import icon_redirect

	# proxy to forgejo
	reverse_proxy anubis-forge:3000 {
		header_up X-Real-Ip {remote_host}
	}
}

media.strawmelonjuice.com {
	# request_body {
	#     max_size 3GB
	# }

	reverse_proxy strawmedia:3022
}

strawmelonjuice.com {
	# ===================------ ATPROTO ------===================
	handle_path /.well-known/atproto-did {
		respond "did:plc:jgtfsmv25thfs4zmydtbccnn"
	}

	# ================---- Matrix Homeserver ----================
	handle /.well-known/matrix/* {
		header Access-Control-Allow-Origin "*"
		header Content-Type "application/json"

		# Using a Matcher inside the handle to respond differently
		@server path /.well-known/matrix/server
		respond @server `{"m.server": "strawmelonjuice.com:443"}`

		@client path /.well-known/matrix/client
		respond @client `{"m.homeserver": {"base_url": "https://strawmelonjuice.com"}}`
	}

	handle /_matrix/* {
		reverse_proxy matrix:8008
	}

	handle /_synapse/client/* {
		reverse_proxy matrix:8008
	}

	# ===================------ My Site ------===================
	handle {
		root * /srv/strawmelonjuice-site/
		try_files {path} /index.html
		file_server
	}
}
