# redirect from git -> forge
git.strawmelonjuice.com {
    redir https://forge.strawmelonjuice.com{uri} permanent
}

forge.strawmelonjuice.com {
    # redirect icon to strawmediajuice
    redir /assets/img/favicon.svg https://strawmelonjuice.com/assets/site_icon.png permanent
    redir /assets/img/site_icon.svg https://strawmelonjuice.com/assets/site_icon.png permanent

    # proxy to forgejo
    reverse_proxy forge:3000
}

files-shared.strawmelonjuice.com {
    # request_body {
    #     max_size 3GB
    # }

    reverse_proxy strawmedia:3022
}

strawmelonjuice.com {

    # set site root
    root /srv/strawmelonjuice-site/

    # try to access the file at {path} alternatively redirect to #{path}
    try_files {path} /#{path}

    file_server
}
