networks:
    forgejo:
    caddys:
        external: true

services:
    forge:
        image: codeberg.org/forgejo/forgejo:14
        command: >-
            bash -c '
            /usr/bin/s6-svscan /etc/s6 &
            sleep 10 ;
            su -c "forgejo forgejo-cli actions register --secret ${SHARED_SECRET}" git ;
            su -c "forgejo admin user create --admin --username strawmelonjuice --password ${ROOT_PASSWORD} --email mar@strawmelonjuice.com" git ;
            sleep infinity
            '
        restart: unless-stopped
        container_name: forge
        environment:
            - FORGEJO__database__DB_TYPE=postgres
            - FORGEJO__database__HOST=db:5432
            - FORGEJO__database__NAME=forgejo
            - FORGEJO__database__USER=forgejo
            - FORGEJO__database__PASSWD=forgejo
            - FORGEJO__DEFAULT__APP_NAME="Mar's forge"
            - FORGEJO__DEFAULT__APP_SLOGAN="Strawmelonjuice's git server"
            - FORGEJO__server__ROOT_URL=https://forge.strawmelonjuice.com
            - FORGEJO__server__OFFLINE_MODE=false
            - FORGEJO__mirror__ENABLED=true
            - SHARED_SECRET=${SHARED_SECRET}
            - ROOT_PASSWORD=${ROOT_PASSWORD}
        networks:
            - forgejo
            - caddys
        ports:
            - "222:22"
        volumes:
            - ../data/forgejo/forge:/data
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
        depends_on:
            - db

    db:
        # Keeping 14 because the Forgejo is subject to replacement by a tangled.sh knot in the future.
        image: postgres:14
        restart: unless-stopped
        environment:
            - POSTGRES_USER=forgejo
            - POSTGRES_PASSWORD=forgejo
            - POSTGRES_DB=forgejo
        networks:
            - forgejo
        volumes:
            - ../data/forgejo/db:/var/lib/postgresql/data
