networks:
    caddys:
        external: true
services:
    tangled:
        image: tngl/knot:v1.10.0-alpha
        environment:
            KNOT_SERVER_HOSTNAME: code.strawmelonjuice.com
            KNOT_SERVER_OWNER: "did:plc:jgtfsmv25thfs4zmydtbccnn"
            KNOT_SERVER_DB_PATH: /app/knotserver.db
            KNOT_REPO_SCAN_PATH: /home/git/repositories
            KNOT_SERVER_INTERNAL_LISTEN_ADDR: localhost:5444
        volumes:
            - ../data/tangled/keys:/etc/ssh/keys
            - ../data/tangled/repositories:/home/git/repositories
            - ../data/tangled/server:/app
        ports:
            - "2222:22"
        restart: always
        networks:
            - caddys
