networks:
    synapse:
    caddys:
        external: true

services:
    synapse:
        image: docker.io/matrixdotorg/synapse:latest
        container_name: synapse
        restart: unless-stopped
        volumes:
            - ../data/matrix/synapse:/data
        depends_on:
            - db
        ports:
            - "8008:8008"
        environment:
            - SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
        networks:
            synapse:
            caddys:
                aliases:
                    - matrix
    mautrix-signal:
        container_name: mautrix-signal
        image: dock.mau.dev/mautrix/signal:latest
        restart: unless-stopped
        networks:
            - synapse
        volumes:
            - ../data/matrix/signal:/data

    mautrix-whatsapp:
        container_name: mautrix-whatsapp
        image: dock.mau.dev/mautrix/whatsapp:latest
        restart: unless-stopped
        networks:
            - synapse
        volumes:
            - ../data/matrix/whatsapp:/data
    db:
        image: docker.io/library/postgres:16-alpine
        container_name: synapse-db
        restart: unless-stopped
        environment:
            - POSTGRES_USER=synapse
            - POSTGRES_PASSWORD=synapsepassword
            - POSTGRES_DB=synapse
            # Required for Synapse compatibility
            - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
        volumes:
            - ../data/matrix/db:/var/lib/postgresql/data
        networks:
            - synapse
