# /etc/systemd/system/site-gen.timer
[Unit]
Description=Run Site Gen every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target